# Ignore external dependencies
/yolobench_d455/src/realsense-ros-d455/
/yolobench_d455/src/librealsense-d455/
#/yolobench_d455/src/yolo_ros/

# Ignore build, install, and log directories
/build/
/install/
/log/

# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore IDE/editor-specific files
.vscode/
.idea/
